.logo {
	Font-size:32px;
	Font-weight:bold;
	margin-top:15px; 
	padding-left: 10px; /*#26ae91*/
	
}
a:hover,
a:focus
{ color:#26ae91; }
.logo a{ text-decoration:none; 
		color:#26ae91;}
/* Header Logo & Menus---------------------------------------------------------------------------------------*/
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
    border: 0;
} 
.container-fluid{
	padding: 0px;
}
.nav {
	position: relative;
	margin: 15px;
	
}
.navbar-nav > li {
    padding: 0 0 0px 2px;
}
.navbar-nav > li:last-child {
    margin-right: 0px;
}

.navbar-nav > li > a {
	color: #898989;
	padding-bottom: 20px;
    padding-top: 15px;	
} 
.navbar-default .navbar-nav > li > a {
    
	font-family: "Montserrat",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
	font-weight:bold;
	padding-bottom: 25px;
    padding-top: 25px;

}

.navbar-nav > li > .dropdown-menu {
    position: absolute !important;  
	top: 70px;
   
}

.dropdown-menu {
	min-width: 200px;
	padding: 0;
	border-radius: 0px;
	
}
.navbar-right .dropdown-menu {
	left: 1px;
	right: auto;

}
.dropdown-menu > li > a {
    padding: 10px 20px;
	font-family: opensansRegular;
    font-size: 16px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
transition :all 0.5s ease 0s;
  text-decoration: none;
}
.dropdown .fa-angle-down{	
    border-radius: 50%;
    font-size: 12px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    width: 15px;
	margin-left: 5px;
	font-weight: 600;
}
li.dropdown:hover .fa-angle-down, li.dropdown.active .fa-angle-down{	
    font-size: 12px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    width: 15px;
	font-weight: 600;
}
.navbar-collapse {
   
    max-height: 100%;
  
}

/*Sub menu CSS*/
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    margin-top:-2px;
    margin-left:-1px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}

.dropdown-submenu > a:after{
    display:block;
    float: right;
    width: 0 !important;
    height:0 !important;
    border-color: 0px !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
	border-radius: 50% !important;
    margin-top:9px;
    margin-right:-10px;
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

ul li.current_page_item  a{
  color: #ffffff !important;
  background-color: #26ae91;
  font-weight:blod;
}


/*********color specific css *****************/
#menu_wrapper{
	background: #ffffff;
} 
/* Header Logo & Menus---------------------------------------------------------------------------------------*/

.navbar-default {
    background-color: #ffffff;
} 
/*
.navbar-default .navbar-nav > li > a {
	color: #121212;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #26ae91;
    color: #ffffff !important;
}
ul.dropdown-menu li.active a{
	/* background-color: #26ae91 !important; */
	background-color: rgba(0, 0, 0, .2) !important;
    color: #ffffff !important;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #26ae91;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #26ae91;
}
.dropdown-menu {
	background-color: #26ae91;
}
.dropdown-menu > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
	color: #266453;
  font-family:"Montserrat",​sans-serif;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #266453;
  background-color: rgba(0, 0, 0, .2);
}
.dropdown .fa-angle-down{	
	background-color: #FFFFFF;
    border: 1px solid #121212;
    color: #26ae91;
	}
li.dropdown:hover .fa-angle-down, li.dropdown.active .fa-angle-down{	
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
    color: #26ae91;
}